extends layouts/default
block content

  section.main.text-center
    .vault-boy
      img(src="images/vaultboy.png", alt="Vault Boy")
    .stats
      .green-box.b
      .green-box.a(style="margin-right:1em")
      .green-box.b
      .green-box.a
      .green-box.a
    .name.
      Prince of Space
