.main-menu
  ul.list-unstyled.list-inline
    li.active
      a(href="#") STAT
    li 
      a(href="#") INV
    li 
      a(href="#") DATA
    li 
      a(href="#") MAP
    li 
      a(href="#") RADIO